<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin | Buspass</title>
        <link rel="stylesheet" href="../../assets/css/bulma.min.css" />
        <link rel="stylesheet" href="../../assets/css/style.css" />
        <link rel="stylesheet" href="../../assets/css/all.min.css" />
        <style>
            td i {
                cursor: pointer;
            }
        </style>
    </head>

    <body>
        <section class="section has-background-success-light pt-3 pb-3">
            <div class="container">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li>
                            <a href="./dashboard.html">
                                <span class="icon is-small">
                                    <i
                                        class="fas fa-home"
                                        aria-hidden="true"
                                    ></i>
                                </span>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="is-active">
                            <a>
                                <span class="icon is-small">
                                    <i class="fa-solid fa-bus-simple"></i>
                                </span>
                                <span>All Buspass</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="section has-background-success-light pt-3 pb-3">
            <div class="container">
                <a
                    href="./dashboard.html"
                    class="button is-small has-text-weight-bold is-warning"
                >
                    Back to dashboard
                </a>
            </div>
        </section>
        <section class="section pt-3 pb-3">
            <div class="container">
                <div class="table-container">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Role No.</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Route No.</th>
                                <th>Duplicate</th>
                                <th>Is verified</th>
                                <th>Is Permit</th>
                                <th>Date</th>
                                <th>Permit</th>
                                <th>Delete</th>
                                <th>Edit</th>
                                <th>Download/ Resend</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="student-id" data-student-id="1">
                                    1
                                </td>
                                <td>21MCA12</td>
                                <td>Mahendhiran</td>
                                <td>MCA</td>
                                <td>50</td>
                                <td>1</td>
                                <td>
                                    <span class="tag is-success is-light"
                                        >Verified</span
                                    >
                                </td>
                                <td>
                                    <span class="tag is-success is-light"
                                        >Permitted</span
                                    >
                                </td>
                                <td>03/03/2023</td>
                                <td>
                                    <span class="icon is-small">
                                        <i
                                            class="fas fa-circle-check permit-btn"
                                        ></i>
                                    </span>
                                </td>
                                <td>
                                    <span class="icon is-small">
                                        <i
                                            class="fa-solid fa-trash delete-btn"
                                        ></i>
                                    </span>
                                </td>
                                <td>
                                    <span class="icon is-small">
                                        <i class="fa-solid fa-pen edit-btn"></i>
                                    </span>
                                </td>
                                <td>
                                    <span class="icon is-small">
                                        <i
                                            class="fa-solid fa-circle-arrow-down"
                                        ></i>
                                    </span>
                                    <span class="icon is-small">
                                        <i class="fa-solid fa-paper-plane"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <div id="delete-modal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Delete Buspass</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    Are you sure to delete?
                </section>
                <div class="modal-card-foot">
                    <button type="submit" class="button is-primary">
                        Delete
                    </button>
                    <button class="button">Cancel</button>
                </div>
            </div>
        </div>

        <div id="permit-modal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card p-2">
                <header class="modal-card-head">
                    <p class="modal-card-title">Permit Buspass</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    Are you sure to permit?
                </section>
                <div class="modal-card-foot">
                    <form method="post" th:action="@{/form}">
                        <input
                            class="input"
                            type="text"
                            id="permit-student-id"
                            name="studentId"
                        />
                        <button type="submit" class="button is-primary">
                            Yes
                        </button>
                        <button class="button">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="edit-modal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Edit title</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <form
                        method="post"
                        action="#"
                        th:action="@{/form}"
                        th:object="${student}"
                    >
                        <div class="field">
                            <label class="label">Roll No.</label>
                            <div class="control">
                                <input
                                    class="input"
                                    type="text"
                                    placeholder="Student Roll No."
                                    name="rollNo"
                                    th:field="*{rollNo}"
                                />
                            </div>
                            <p
                                th:errors="*{rollNo}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('rollNo')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">Register No.</label>
                            <div class="control">
                                <input
                                    class="input"
                                    type="number"
                                    placeholder="Student Register No."
                                    name="registerNo"
                                    th:field="*{registerNo}"
                                />
                            </div>
                            <p
                                th:errors="*{registerNo}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('registerNo')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input
                                    class="input"
                                    type="text"
                                    placeholder="Enter your name"
                                    name="name"
                                    th:field="*{name}"
                                />
                            </div>
                            <p
                                th:errors="*{name}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('name')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">Father Name</label>
                            <div class="control">
                                <input
                                    class="input"
                                    type="text"
                                    placeholder="Enter your father's name"
                                    name="fatherName"
                                    th:field="*{fatherName}"
                                />
                            </div>
                            <p
                                th:errors="*{fatherName}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('fatherName')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">College</label>
                            <div class="control">
                                <div class="select is-fullwidth is-normal">
                                    <select
                                        name="collegeId"
                                        th:field="*{collegeId}"
                                    >
                                        <option value="0">
                                            Select college
                                        </option>
                                        <div th:each="college : ${colleges}">
                                            <option th:value="${college.id}">
                                                <p
                                                    th:text="${college.name}"
                                                ></p>
                                            </option>
                                        </div>
                                    </select>
                                </div>
                            </div>
                            <p
                                th:errors="*{collegeId}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('collegeId')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">Department</label>
                            <div class="control">
                                <div class="select is-fullwidth is-normal">
                                    <select
                                        name="departmentId"
                                        th:field="*{departmentId}"
                                    >
                                        <option value="0">
                                            Select department
                                        </option>
                                        <div
                                            th:each="department : ${departments}"
                                        >
                                            <option th:value="${department.id}">
                                                <p
                                                    th:text="${department.name}"
                                                ></p>
                                            </option>
                                        </div>
                                    </select>
                                </div>
                            </div>
                            <p
                                th:errors="*{departmentId}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('departmentId')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">Semester</label>
                            <div class="control">
                                <div class="select is-fullwidth is-normal">
                                    <select
                                        name="semester"
                                        th:field="*{semester}"
                                    >
                                        <option value="0">
                                            Select current semester
                                        </option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                            <p
                                th:errors="*{semester}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('semester')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">Address</label>
                            <div class="control">
                                <input
                                    class="input"
                                    type="text"
                                    placeholder="Door no./ Street/ landmark"
                                    name="address"
                                    th:field="*{address}"
                                />
                            </div>
                            <p
                                th:errors="*{address}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('address')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">District</label>
                            <div class="control">
                                <input
                                    class="input"
                                    type="text"
                                    placeholder="Salem/ Namakkal/ Karur"
                                    name="district"
                                    th:field="*{district}"
                                />
                            </div>
                            <p
                                th:errors="*{district}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('district')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">Pincode</label>
                            <div class="control">
                                <input
                                    class="input"
                                    type="number"
                                    placeholder="Eg. 636111"
                                    name="pincode"
                                    th:field="*{pincode}"
                                />
                            </div>
                            <p
                                th:errors="*{pincode}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('pincode')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">Phone No.</label>
                            <div class="control">
                                <input
                                    class="input"
                                    type="number"
                                    placeholder="Eg. 9876543210"
                                    name="phoneNo"
                                    th:field="*{phoneNo}"
                                />
                            </div>
                            <p
                                th:errors="*{phoneNo}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('phoneNo')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">Route No.</label>
                            <div class="control">
                                <div class="select is-fullwidth is-normal">
                                    <select
                                        name="routeId"
                                        th:field="*{routeId}"
                                    >
                                        <option value="0">Select route</option>
                                        <div th:each="route : ${routes}">
                                            <option th:value="${route.id}">
                                                <p
                                                    th:text="${route.routeNo}"
                                                ></p>
                                            </option>
                                        </div>
                                    </select>
                                </div>
                            </div>
                            <p
                                th:errors="*{routeId}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('routeId')}"
                            ></p>
                        </div>
                        <div class="field">
                            <label class="label">Boarding Point</label>
                            <div class="control">
                                <input
                                    class="input"
                                    type="text"
                                    placeholder="Your bus stop"
                                    name="boardingPoint"
                                    th:field="*{boardingPoint}"
                                />
                            </div>
                            <p
                                th:errors="*{boardingPoint}"
                                class="help is-danger"
                                th:if="${#fields.hasErrors('boardingPoint')}"
                            ></p>
                        </div>
                        <div class="field">
                            <button type="submit" class="button is-primary">
                                Save changes
                            </button>
                            <button class="button">Cancel</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                // Functions to open and close a modal
                function openModal($el) {
                    $el.classList.add("is-active");
                }

                function closeModal($el) {
                    $el.classList.remove("is-active");
                }

                function closeAllModals() {
                    (document.querySelectorAll(".modal") || []).forEach(
                        ($modal) => {
                            closeModal($modal);
                        }
                    );
                }

                // Add a click event on buttons to open a specific modal
                (document.querySelectorAll(".js-modal-trigger") || []).forEach(
                    ($trigger) => {
                        const modal = $trigger.dataset.target;
                        const $target = document.getElementById(modal);

                        $trigger.addEventListener("click", () => {
                            openModal($target);
                        });
                    }
                );

                // Add a click event on various child elements to close the parent modal
                (
                    document.querySelectorAll(
                        ".modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button"
                    ) || []
                ).forEach(($close) => {
                    const $target = $close.closest(".modal");

                    $close.addEventListener("click", () => {
                        closeModal($target);
                    });
                });

                // Add a keyboard event to close all modals
                document.addEventListener("keydown", (event) => {
                    const e = event || window.event;

                    if (e.keyCode === 27) {
                        // Escape key
                        closeAllModals();
                    }
                });
            });
        </script>

        <script>
            const editBtn = document.querySelector(".edit-btn");
            const editModal = document.querySelector("#edit-modal");
            editBtn.addEventListener("click", (e) => {
                editModal.classList.toggle("is-active");
            });

            const deleteBtn = document.querySelector(".delete-btn");
            const deleteModal = document.querySelector("#delete-modal");
            deleteBtn.addEventListener("click", (e) => {
                deleteModal.classList.toggle("is-active");
            });

            const permitBtn = document.querySelector(".permit-btn");
            const permitModal = document.querySelector("#permit-modal");
            permitBtn.addEventListener("click", (e) => {
                permitModal.classList.toggle("is-active");
            });

            const table = document.querySelector(".table");
            table.addEventListener("click", (e) => {
                const studentId = document.querySelector(".student-id");
                if (e.target.classList.contains("permit-btn")) {
                    const permitStudentId =
                        document.querySelector("#permit-student-id");
                    permitStudentId.value = studentId.dataset.studentId;
                }
            });
        </script>
    </body>
</html>
