<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin | Department Analysis</title>
    <link rel="stylesheet" href="../../assets/css/bulma.min.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/all.min.css" />
</head>

<body>
    <section class="section has-background-success-light pt-3 pb-3">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a href="./dashboard.html">
                            <span class="icon is-small">
                                <i class="fas fa-home" aria-hidden="true"></i>
                            </span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="#">
                            <span class="icon is-small">
                                <i class="fa-solid fa-landmark"></i>
                            </span>
                            <span>Department Analysis</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="section pt-3 pb-3">
        <div class="container">
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Department</th>
                            <th>HOD Name</th>
                            <th>No. of buspass</th>
                            <th>Full view</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>MCA</td>
                            <td>Geetha</td>
                            <td>45</td>
                            <td>
                                <a href="./buspass-department.html">
                                    view all
                                    <span class="icon is-small ">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>

</html>