test {
    background: linear-gradient(to right, #fe9365, #feb798);
    background: linear-gradient(to right, #0ac282, #0df3a3);
    background: linear-gradient(to right, #fe5d70, #fe909d);
    background: linear-gradient(to right, #01a9ac, #01dbdf);
}
