<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Department Management</title>
	<link rel="stylesheet" th:href="@{/assets/css/bulma.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/all.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/style.css}" />
	<script th:src="@{/assets/js/script.js}"></script> 
</head>

<body>
	
	<div th:replace="fragments/loading.html :: loading"></div>
  		
  	<div th:replace="fragments/admin.html :: dashboard_header"></div>

	<section class="section p-0" id="dashboard-cover">
		<section class="section pt-3 pb-3">
			<div class="container">
				<p class="is-size-5 has-text-weight-bold pt-3 pb-3">
					Admin dashboard
				</p>
			</div>
		</section>

		<section class="section pt-0 pb-0">
			<div class="container">
				<div class="tabs is-boxed has-text-weight-medium">
					<ul>
						<li>
							<a href="/admin/dashboard">
								<span class="icon is-small"><i class="fas fa-chart-column"
										aria-hidden="true"></i></span>
								<span>Season Analysis</span>
							</a>
						</li>
						<li>
							<a href="/admin/dashboard/route">
								<span class="icon is-small"><i class="fas fa-location-arrow"
										aria-hidden="true"></i></span>
								<span>Route</span>
							</a>
						</li>
						<li class="is-active">
							<a>
								<span class="icon is-small"><i class="fas fa-building-columns"
										aria-hidden="true"></i></span>
								<span>Department</span>
							</a>
						</li>
						<li>
							<a href="/admin/dashboard/season">
								<span class="icon is-small"><i class="fas fa-circle-dot" aria-hidden="true"></i></span>
								<span>Season</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</section>

	<section class="section pt-3 pb-3">
		<div class="container is-flex is-justify-content-space-between is-align-items-center">
			<p class="is-size-5 has-text-weight-semibold pt-3 pb-3">
				Department Management
			</p>
			<button id="create-department-btn" class="button is-small is-success">
				<span class="icon is-small">
					<i class="fas fa-add"></i>
				</span>
				<span>Add department</span>
			</button>
		</div>
	</section>

	<section class="section pt-3 pb-3">
		<div class="container">
			<div class="table-container">
				<table class="table is-fullwidth">
					<thead>
						<tr>
							<th>S.No.</th>
							<th>Department Name</th>
							<th>Date</th>
							<th>Update</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${!departments.isEmpty}" th:each="department : ${departments}">
							<td th:attr="data-source-department-id=${department.id}" class="department-id"
								th:text="${department.id}"></td>
							<td th:attr="data-source-department-name=${department.name}" class="department-name"
								th:text="${department.name}"></td>
							<td th:text="${department.createAt}"></td>
							<td>
								<button class="button is-small has-text-weight-bold is-warning update-btn">
									update
								</button>
							</td>
							<td>
								<a th:href="'/admin/dashboard/department/delete?departmentId=' + ${department.id}"
									class="button is-small has-text-weight-bold is-danger">
									delete
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<div class="modal" id="create-department-modal">
		<div class="modal-background"></div>
		<div class="card">
			<header class="card-header">
				<p class="card-header-title">Create department</p>
				<button class="card-header-icon" id="create-close-btn" aria-label="more options">
					<span class="icon ">
						<i class="fas fa-circle-xmark" aria-hidden="true"></i>
					</span>
				</button>
			</header>
			<div class="card-content">
				<div class="content">
					<form action="/admin/dashboard/department/create" method="POST">
						<div class="field">
							<label class="label">Department name</label>
							<div class="control">
								<input id="create-department-name" class="input" type="text"
									placeholder="Department Name" name="departmentName" required />
							</div>
						</div>
						<div class="field">
							<button type="submit" id="create-ok-btn" class="button is-danger is-fullwidth">
								Create
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="update-department-modal">
		<div class="modal-background"></div>
		<div class="card">
			<header class="card-header">
				<p class="card-header-title">Update department</p>
				<button class="card-header-icon" id="update-close-btn" aria-label="more options">
					<span class="icon ">
						<i class="fas fa-circle-xmark" aria-hidden="true"></i>
					</span>
				</button>
			</header>
			<div class="card-content">
				<div class="content">
					<form action="/admin/dashboard/department/update" method="POST">
						<input id="update-department-id" class="input" type="hidden" name="departmentId" />	
						<div class="field">
							<label class="label">Department name</label>
							<div class="control">
								<input id="update-department-name" class="input" type="text" name="departmentName" />
							</div>
							<p class="help" id="update-error">Minimum 5 character</p>
						</div>
						<div class="field">
							<button type="submit" id="update-ok-btn" class="button is-danger is-fullwidth">
								Update
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		const createDepartmentBtn = document.querySelector("#create-department-btn");
		const createCloseBtn = document.querySelector("#create-close-btn");
		const createOkBtn = document.querySelector("#create-ok-btn");
		const createDepartmentModel = document.querySelector("#create-department-modal");
		const createDepartmentName = document.querySelector("#create-department-name");

		createDepartmentBtn.addEventListener("click", e => {
			
			createDepartmentModel.classList.toggle("is-active")
		})

		createCloseBtn.addEventListener("click", e => {
			
			createDepartmentModel.classList.toggle("is-active")
		})

		createOkBtn.addEventListener("click", e => {
			
			if (createDepartmentName.value.length >= 2)
				createDepartmentModel.classList.toggle("is-active")
			else
				e.preventDefault()
		})

		const updateDepartmentModel = document.querySelector("#update-department-modal");
		const updateCloseBtn = document.querySelector("#update-close-btn");
		const updateOkBtn = document.querySelector("#update-ok-btn");
		const updateDepartmentId = document.querySelector("#update-department-id");
		const updateDepartmentName = document.querySelector("#update-department-name");
		const updateErrorText = document.querySelector("#update-error");
		const table = document.querySelector(".table");

		table.addEventListener("click", e => {
			
			if (e.target.classList.contains("update-btn")) {
				
				const departmentId = e.target.closest('tr').querySelector('.department-id');
				const departmentName = e.target.closest('tr').querySelector('.department-name');
				const departmentIdValue = departmentId.dataset.sourceDepartmentId;
				const departmentNameValue = departmentName.dataset.sourceDepartmentName;
				updateDepartmentId.value = departmentIdValue;
				updateDepartmentName.value = departmentNameValue;
				console.log(departmentIdValue, departmentNameValue);
				updateDepartmentModel.classList.toggle("is-active");
			}
		})

		updateCloseBtn.addEventListener("click", e => {
			updateDepartmentModel.classList.toggle("is-active")
		})

		updateOkBtn.addEventListener("click", e => {
			if (updateDepartmentName.value.length >= 2) {
				updateDepartmentModel.classList.toggle("is-active")
			} else {
				e.preventDefault()
				updateErrorText.classList.add("is-danger")
				updateDepartmentName.style.border = "1px solid red";
			}
		})
	</script>
</body>

</html>